@charset "ISO-8859-1";
@charset "ISO-8859-1";
 *
        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
.myclass
{
	padding-top:100px;
	margin-left:50px;
	margin-right:50px;
	width: 500px;
	height:auto;
	
}
h3
{
	color:green;
}
table tr td a
{
	text-decoration:none;
}